.molstar-widget {
  width: 100%;
}

.molstar-host {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 480px;
  border-radius: 0;
  overflow: hidden;
}


.molstar-widget .msp-layout-expanded,
.molstar-widget .msp-viewport-expanded {
  z-index: 20000;
}
